@use 'common/var' as *;

$size: 1,2,3,4,5;
@each $size in $size {
  @each $pos in $position {
    .border-#{$pos}-#{$size}{
      border-#{$pos}: #{$size}px solid #{$borderColor};
      &-dashed{
        border-#{$pos}: #{$size}px dashed #{$borderColor};
      }
    }
  }
  .border-#{$size}{
    border: #{$size}px solid #{$borderColor};
    &-dashed{
      border: #{$size}px dashed #{$borderColor};
    }
  }
}

.shadow{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  &-light{
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
}