$em-theme-color: #FE4066;
$em-sub-theme-color: #FF577C;
$em-dark-color: #1C2E52;
$em-warm-color: #316EFD;
$em-light-color: #DCE6F1;
$em-container-color: #EAEAEA;

//
$em-black: #212121;
$em-black-1: #333;
$em-black-2: #666;
$em-black-3: #999;
